{% extends "icbl/views/templates/baseguru.html" %}

{% block content %}
    <script>
        function kirim(){
            document.pf.pass.value=document.getElementById('login_password').value;
            document.pf.id.value=document.getElementById('id').value;
            document.getElementById("pf").submit();
        }
    </script>
    <div class="container">
    <div class="panel panel-login panel-default middle-absolute">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="text-center">
              Login Sebagai Guru
            </h3>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
               <label for="id">ID Guru</label>
              <input type="text" class="form-control" id="id" value="{{id}}" placeholder="ID Guru">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="login_password">Kata Sandi</label>
              <input type="password" class="form-control" id="login_password" placeholder="Kata Sandi">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-block btn-primary" onClick="kirim()">LOGIN</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="bg-danger text-danger">{{error}}</div>
          </div>
        </div>
        </div>
        <form method="POST" action="/teacher-login" name="pf" id="pf">
        <input type="hidden" name="id">
        <input type="hidden" name="pass">
        </form>
      </div>
    </div>
      
{% endblock %}
