{% extends "icbl/views/templates/base.html" %}

{% block content %}
<form method="POST" action="/update-data-siswa">
    <table width="100%">
    <tr>
        <td><h3 align="center">Lihat Edit Data Siswa</h3></td>
    <tr>
    <tr align="center">
        <td style="padding-top:15px; padding-bottom:15px">
        <table>
            <tr>
               <td height="30"><span class="style1">NIS</span><br />
                    <input type="text"  name="nisbaru" value="{{datum.nis}}" />
               </td>
            </tr>
            <tr>
                <td height="30"><span class="style1">NAMA</span><br />
                    <input type="text" name="nama" value="{{datum.nama}}" />
               </td>
            </tr>
            <tr>
                <td height="30"><span class="style1">KELAS</span><br />
                    <input type="text" name="kelas" value="{{datum.kelas}}" />
               </td>
            </tr>
            <tr>
                <td height="30"><span class="style1">Email</span><br />
                    <input type="text" name="email" value="{{datum.email}}" />
               </td>
            </tr>
            <tr>
                <td height="30"><span class="style1">Password</span><br />
                    <input type="text" name="pass" value="{{datum.password}}" />
               </td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td height="40" align="center">
            <input type="submit" style="width:200px; background-color:#CCFFFF" value="UPDATE DATA SISWA!"/>
         </td>
    </tr>

</table>
<input type="hidden" name="nislama" value="{{datum.nis}}">
</form>
{% endblock %}
